@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Familjen Grotesk,Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #0d2b1d;
    --cor2: #13361c;
    --cor3: #345635;
    --branco: #fdf4ea;
    --input: #ffffff73;
    --preto: #091b13;
}

body {
    width: 98vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--preto), var(--cor1), var(--cor2));
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    margin: 50px 0px;
    border-radius: 10px;
    background-color: var(--branco);
    box-shadow: 0px 0px 10px black, 0px 0px 20px var(--preto), 0px 0px 40px var(--preto);
    font-size: 1.3em;
}

h1, h2 {
    font-family: Poppins;
    font-weight: 500;
    color: var(--preto);
    text-align: center;
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    margin-bottom: 30px;
}

fieldset {
    position: relative;
    padding: 5px;
    border: none;
    border-top: 1px solid var(--preto);
    color: var(--preto);
}

fieldset > legend {
padding: 0px 5px;
}

.input-group {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.input-group .icon,  .icon-email {
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 30px;
    color: var(--preto);
}



.input-group label.campo {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888;
    pointer-events: none;
    transition: all 0.3s;
}

input[type="radio"] {
    display: inline-block;
    opacity: 1;
    width: 0px;
}

.radio-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 60px;
    color: var(--preto);
    transition: all 0.3s ease;
}

.radio-group {
    display: flex;
    border: 3px solid var(--cor2);
    box-shadow: 0px 0px 5px var(--preto);
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
}

.input-group input[type="radio"]:checked + .radio-custom {
    background-color: var(--cor2);
    color: var(--branco);
}

input:not([type="radio"]) {
    width: 300px;
    height: 30px;
    font-size: 1em;
    border-radius: 50px;
    background-color: var(--input);
    outline: none;
    border: 3px solid var(--preto);
    padding: 5px 5px 5px 40px;
    transition: .2s all ease-in-out;
    box-shadow: 0px 0px 5px var(--preto);
}

input:not([type="radio"]):hover { 
    background-color: #ebe3d9;
}


input[type="date"] {
    padding: 5px;
    margin-bottom: 10px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--input);
    box-shadow: 0px 0px 5px var(--preto);
}

.input-group input:focus {
    border: 3px solid var(--cor3);
    box-shadow: 0px 3px 2px var(--cor3);
}

.input-group input:focus, .input-group input:not(:placeholder-shown) + label.campo {
    top: -10px;
    left: 15px;
}

select {
    margin: 0px 5px;
    border: 3px solid var(--preto);
    height: 30px;
    font-size: .8em;
    background-color: var(--input);
    box-shadow: 0px 0px 5px var(--preto);
    border-radius: 5px;
}

select:focus {
    outline: none;
}

textarea {
    resize: none;
    width: 97%;
    color: var(--preto);
    font-size: 1em;
    padding: 5px;
    border: 3px solid var(--preto);
    border-radius: 10px;
    background-color: var(--input);
    box-shadow: 0px 0px 5px var(--preto);
}

button {
    font-family: Poppins;
    font-size: 1em;
    color: var(--branco);;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid var(--preto);
    background-color: var(--cor2);
    align-self: flex-end;
    transition: .1s;
    box-shadow: 0px 0px 5px var(--preto);
}


button:hover {
    background-color: var(--cor3);
    border-color: var(--cor3);
    box-shadow: 0px 0px 20px var(--cor3);
    color: var(--branco);
}

span.mensagem {
    color: #888;
    padding-left: 10px;
    font-size: .7em;;
}

.icon-senha, .icon-csenha {
    cursor: pointer;
}

span.erroSenha, span.erroData, span.erroCidade {
    position: absolute;
    color: red;
    opacity: 0;
    font-size: .7em;
    top: 100%;
    right: 60%;
    transition: .2s all ease-in-out;
}

span.erroData {
    top: 90%;
    right: 75%;
}

span.erroCidade {
    right: 25%;
}