@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

aside {
    height: 100vh;
    width: 50%;
    background-image: url('../img/fundoLogin.png');
    background-size: cover;
    background-repeat: no-repeat; /* Opcional: evita repetição da imagem */
    background-position: center; /* Opcional: posiciona a imagem no centro */
    color: #fffff0;
    font-family: Poppins;
    font-size: 2.5em;
    text-shadow: 5px 5px 10px black;
}

aside div {
    margin-left: 20%;
    margin-top: 30%;
}

section {
    height: 100vh;
    width: 50%;
    background-color: #fffff0;
    box-shadow: -15px 0px 10px black;
}

form {
    margin: auto;
    margin-top: 10%;
    width: 450px;
    height: 80%;
    font-family: Poppins;
}

form h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

form h2 {
    margin-bottom: 30px;
    color: #888;
    font-weight: normal;
    font-size: 1em;
}

form p {
    font-size: .8em;
    margin-bottom: 30px;
    color: #888;
}

.input-group {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.input-group .icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #888;
}

.input-group label.campo {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888;
    pointer-events: none;
    transition: all 0.3s;
    
}

input:not([type="checkbox"]) {
    width: 400px;
    height: 40px;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid #888;
    padding: 5px 5px 5px 40px;
    transition: .2s all ease-in-out;
    box-shadow: 0px 0px 5px var(--preto);
    font-family: Familjen Grotesk;
    margin: 10px 0px;
}

.input-group input:focus, .input-group input:not(:placeholder-shown) + label.campo {
    top: -5px;
    left: 15px;
}

.icon-senha {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #888;
    border-radius: 7px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label {
    background-color: #243d25;
    border-color: #121f13;
}

.lembrar {
    display: inline-block;
    margin-left: 5px;
    margin-right: 135px;
}

a {
    text-decoration: none;
    color: #888;
}

button {
    width: 100%;
    color: white;
    font-weight: bolder;
    height: 50px;
    font-size: 1em;
    border-radius: 5px;
    margin-bottom: 70px;
    outline: none;
    border: none;
    background-color: #243d25;
}



